.select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.select__label {
	color: var(--light-color-200);
	margin-bottom: 10px;
	margin-right: 0;
	flex: 0 1 100%;
}

.select__wrapper {
	flex: 0 1 100%;
}

.select-wrapper {
	position: relative;
	border: 2px solid transparent;
	width: 100%;
	height: 38px;
	border-radius: 4px;
	font-size: 18px;
	cursor: pointer;
	line-height: 1.1;
	background-color: var(--light-color-200);
	transition: border var(--transition-time) var(--transition-easing);

}

.select-wrapper::after {
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	content: "";
	width: 13px;
	height: 6px;
	background-color: var(--brand-color-200);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select-wrapper:hover:not([disabled]) {
	border: 2px solid var(--brand-color-200);
	transition: border var(--transition-time) var(--transition-easing);
}

.select-wrapper__select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 4px 24px 4px 8px;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	height: 100%;
}

@media(min-width:576px) {
	.select {
		flex-wrap: nowrap;
	}

	.select__label {
		flex: 0 1 30%;
		margin-bottom: 0;
		margin-right: 10px;
	}

	.select__wrapper {
		height: 48px;
		flex: 0 1 70%;
	}
}