.button {
	cursor: pointer;
	background: var(--brand-color-100);
	border-radius: 8px;
	color: var(--secondary-color-100);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	padding: 10px 18px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: var(--brand-color-100);
	transform: translateY(0);
	transition:
		background-color var(--transition-time) var(--transition-easing), border-color var(--transition-time) var(--transition-easing),
		color var(--transition-time) var(--transition-easing),
		transform var(--transition-time) var(--transition-easing),
		opacity var(--transition-time) var(--transition-easing);
}

.button:focus {
	border-color: var(--brand-color-100);
	transition: border-color var(--transition-time) var(--transition-easing);
}

.button:disabled {
	cursor: not-allowed;
}

.button:hover:not([disabled]) {
	background-color: var(--secondary-color-100);
	transform: translateY(2px);
	color: var(--brand-color-100);
	transition: background-color var(--transition-time) var(--transition-easing), color var(--transition-time) var(--transition-easing), transform var(--transition-time) var(--transition-easing);
}

.button--icon-button {
	cursor: pointer;
	background-color: transparent;
	color: var(--brand-color-100);
	line-height: 1;
	margin: 0;
	font-size: 0;
	padding: 5px;
	text-align: center;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: color var(--transition-time) var(--transition-easing);
}

.button--icon-button>svg {
	pointer-events: none;
	fill: currentcolor;
	width: 30px;
	height: 30px;
}

.button--icon-button:disabled {
	color: var(--disabled-color-100);
	transition: color var(--transition-time) var(--transition-easing);
	cursor: not-allowed;
}


.button--icon-button:hover:not([disabled]) {
	color: var(--brand-color-200);
	transition: color var(--transition-time) var(--transition-easing);
}

[data-theme='light'] .button:disabled {
	background-color: var(--disabled-color-100);
	color: var(--disabled-color-200);
	border-color: var(--disabled-color-100);
	transition:
		background-color var(--transition-time) var(--transition-easing),
		color var(--transition-time) var(--transition-easing),
		border-color var(--transition-time) var(--transition-easing);
}


[data-theme='dark'] .button:disabled {
	opacity: 0.5;
	transition:
		opacity var(--transition-time) var(--transition-easing);
}