.button {
	cursor: pointer;
	background: var(--brand-color-100);
	border-radius: 8px;
	color: var(--light-color-100);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	padding: 10px 18px;
	text-align: center;
	border: 2px solid var(--brand-color-100);
	transition: background-color var(--transition-time) var(--transition-easing), border var(--transition-time) var(--transition-easing), color var(--transition-time) var(--transition-easing), transform var(--transition-time) var(--transition-easing);
}

.button:focus {
	border: 2px solid var(--brand-color-100);
	transition: border var(--transition-time) var(--transition-easing);
}

.button:disabled {
	cursor: not-allowed;
	background-color: var(--disabled-color-100);
	color: var(--disabled-color-200);
	border: 2px solid var(--disabled-color-100);
	transition: background-color var(--transition-time) var(--transition-easing), color var(--transition-time) var(--transition-easing), border var(--transition-time) var(--transition-easing);
}

.button:hover:not([disabled]) {
	background-color: var(--light-color-100);
	transform: translateY(2px);
	color: var(--brand-color-100);
	transition: background-color var(--transition-time) var(--transition-easing), color var(--transition-time) var(--transition-easing), transform var(--transition-time) var(--transition-easing);
}

.button--icon-button {
	cursor: pointer;
	background-color: transparent;
	color: var(--brand-color-100);
	line-height: 1;
	margin: 0;
	font-size: 0;
	padding: 5px;
	text-align: center;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: color var(--transition-time) var(--transition-easing);
}

.button--icon-button>svg {
	pointer-events: none;
	fill: currentcolor;
	width: 30px;
	height: 30px;
}

.button--icon-button:disabled {
	color: var(--disabled-color-100);
	transition: color var(--transition-time) var(--transition-easing);
	cursor: not-allowed;
}


.button--icon-button:hover:not([disabled]) {
	color: var(--brand-color-200);
	transition: color var(--transition-time) var(--transition-easing);
}