.button{
	cursor:pointer;
	background: var(--brand-color-100);
	border: 0 solid #e5e7eb;
	border-radius: 8px;
	box-sizing: border-box;
	color: var(--light-color-100);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	outline: none;
	padding: 10px 18px;
	text-align: center;
	user-select: none;
	touch-action: manipulation;
	border-width: 2px;
	border-color:var(--brand-color-100);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
	background-color: var(--light-color-100);
	transform: translateY(2px);
	color:var(--brand-color-100);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)
}

.button:focus {
	border-color:var(--brand-color-100);
	transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
