.book-description {
	display: grid;
	grid-template-rows: min-content;
	grid-auto-rows: min-content;
	align-items: start;
	gap: 30px;
}

.book-description__main-title {
	line-height: 1.25;
	grid-column: -1/1;
	transition:
		color var(--transition-time) var(--transition-easing);
}

.book-description__img-box {
	max-width: 300px;
	height: auto;
	width: 100%;
	justify-self: center;
}

.book-description__img {
	background-color: var(--brand-color-100);
	border: 2px solid var(--brand-color-100);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.book-description__content {
	/* styles for .book-description__content */
}

.book-description__title {
	text-align: left;
	margin-bottom: 10px;
	transition:
		color var(--transition-time) var(--transition-easing);
}

.book-description__category {
	margin: 0;
	font-size: 18px;
	margin-bottom: 20px;
	color: var(--text-color-primary);
	transition:
		color var(--transition-time) var(--transition-easing);
}

.book-description__category>span {
	font-weight: 700;
}

.book-description__preview-link {
	margin-bottom: 15px;
}

.book-description__authors {
	margin: 0;
	margin-bottom: 25px;
}

.book-description__text {
	color: var(--text-color-primary);
	margin: 0;
	transition:
		color var(--transition-time) var(--transition-easing);
}

.book-description__buying {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 8px;
	box-shadow: hsla(240deg, 5%, 41%, 20%) 0 7px 29px 0;
	padding: 15px;
	max-width: 250px;
	transition:
		box-shadow var(--transition-time) var(--transition-easing),
		background-color var(--transition-time) var(--transition-easing);
}

.book-description__price {
	margin: 0;
	font-size: 26px;
	margin-bottom: 10px;
	color: var(--text-color-primary);
	transition:
		color var(--transition-time) var(--transition-easing);
}

.book-description__buying-btn {
	/* styles for .book-description__buying-btn */
}

.book-description__describing {
	grid-column: 1/-1;
}

@media (min-width:576px) {
	.book-description__img-box {
		max-width: 400px;
	}

	.book-description {
		grid-template-columns: 1fr;
	}

	.book-description__title {
		margin-bottom: 15px;
	}
}

@media (min-width:768px) {
	.book-description {
		grid-template-columns: 1fr 1.5fr;
	}

	.book-description__buying {
		grid-column: 1/2;
	}

	.book-description__describing {
		grid-column: 2/3;
	}

	.book-description__img-box {
		max-width: none;
		justify-self: auto;
	}
}

@media (min-width:992px) {
	.book-description {
		grid-template-columns: 1fr 2fr;
	}
}

@media(min-width:1200px) {
	.book-description {
		grid-template-columns: 1.5fr 1.5fr 250px;
		gap: 30px 20px;
	}

	.book-description__describing {
		grid-column: 1/-1;
	}

	.book-description__img-box {
		width: auto;
		margin-right: 20px;
	}

	.book-description__buying {
		grid-column: 3/4;
	}
}

@media(prefers-color-scheme:dark) {
	.book-description__buying {
		box-shadow: none;
		background-color: var(--secondary-color-200);
		transition:
			box-shadow var(--transition-time) var(--transition-easing),
			background-color var(--transition-time) var(--transition-easing);
	}
}