.link {
	display: inline-flex;
	align-items: center;
	border-radius: 4px;
	font-size: 14px;
	color: var(--brand-color-200);
	border-width: 2px;
	border-style: solid;
	border-color: var(--brand-color-200);
	padding: 8px;
	text-decoration: none;
	transition:
		background-color var(--transition-time) var(--transition-easing),
		border var(--transition-time) var(--transition-easing),
		color var(--transition-time) var(--transition-easing),
		transform var(--transition-time) var(--transition-easing),
		opacity var(--transition-time) var(--transition-easing);
}

.link--primary {
	background-color: transparent;
}

.link--secondary {
	background-color: var(--brand-color-200);
	color: var(--dark-color-100);
	text-align: center;
	font-weight: 600;
}

.link--tertiary {
	transform: translateY(0);
	background: var(--brand-color-100);
	color: var(--secondary-color-100);
	border-color: var(--brand-color-100);
	line-height: 1.5;
	font-size: 16px;
	min-width: 130px;
	justify-content: center;
	padding: 7px 15px;
	font-weight: 700;
}

.link__icon-wrapper {
	pointer-events: none;
	width: 24px;
	height: 24px;
	fill: currentcolor;
}

.link__icon-wrapper--left {
	margin-right: 6px;
}

.link__icon-wrapper--right {
	margin-left: 6px;
}

.link--disabled {
	cursor: not-allowed;
	transition:
		color var(--transition-time) var(--transition-easing),
		border-color var(--transition-time) var(--transition-easing),
		background-color var(--transition-time) var(--transition-easing);
}

.link--primary:hover:not(.link--disabled) {
	background-color: var(--secondary-color-200);
	transition:
		background-color var(--transition-time) var(--transition-easing);
}

.link--secondary:hover:not(.link--disabled) {
	background-color: var(--secondary-color-200);
	transition:
		background-color var(--transition-time) var(--transition-easing);
}

.link--tertiary:hover:not(.link--disabled) {
	background-color: var(--secondary-color-100);
	transform: translateY(2px);
	color: var(--brand-color-100);
	transition:
		background-color var(--transition-time) var(--transition-easing),
		color var(--transition-time) var(--transition-easing),
		transform var(--transition-time) var(--transition-easing);
}

@media(prefers-color-scheme:dark) {
	.link--primary:hover:not(.link--disabled) {
		background-color: var(--secondary-color-300);
		transition:
			background-color var(--transition-time) var(--transition-easing);
	}

	.link--secondary:hover:not(.link--disabled) {
		background-color: var(--secondary-color-200);
		color: var(--light-color-300);
		transition:
			background-color var(--transition-time) var(--transition-easing),
			color var(--transition-time) var(--transition-easing);
	}

	.link--disabled {
		opacity: 0.5;
		transition:
			opacity var(--transition-time) var(--transition-easing);
	}
}

@media(prefers-color-scheme:light) {
	.link--disabled {
		color: var(--disabled-color-200);
		border-color: var(--disabled-color-200);
		background-color: var(--disabled-color-100);
		transition:
			color var(--transition-time) var(--transition-easing),
			border-color var(--transition-time) var(--transition-easing),
			background-color var(--transition-time) var(--transition-easing);
	}
}