.books-list {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: 1fr;
	gap: 20px 20px;
	overflow: hidden;
	max-width: 350px;
	margin: 0 auto;
}

.books-list__item {
	/* .books-list__item styles */
}

@media(min-width:576px) {
	.books-list {
		gap: 40px 20px;
		max-width: 100%;
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width:768px) {
	.books-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(min-width:992px) {
	.books-list {
		grid-template-columns: repeat(4, 1fr);
	}
}