@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Open-Sans-cyrillic-400.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Open-Sans-latin-400.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Open-Sans-cyrillic-700.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Open-Sans-latin-700.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Vollkorn-cyrillic-600.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: Vollkorn;
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	font-display: swap;
	src: url(./assets/fonts/Vollkorn-latin-600.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--light-color-100: hsl(220deg, 0%, 100%);
	--light-color-200: hsl(220deg, 14%, 95%);
	--light-color-300: hsl(220deg, 14%, 90%);
	--dark-color-100: hsl(180deg, 7%, 19%);
	--dark-color-200: #414848;
	--dark-color-300: #565c5c;
	--brand-color-100: hsl(20deg, 100%, 71%);
	--brand-color-200: hsl(20deg, 100%, 60%);
	--secondary-color-100: var(--light-color-100);
	--secondary-color-200: var(--light-color-200);
	--secondary-color-300: var(--light-color-300);
	--overlay-color-100-40: hsla(0deg, 0%, 0%, 40%);
	--disabled-color-100: hsla(0deg, 0%, 80%, 80%);
	--disabled-color-200: hsla(0deg, 0%, 58.43%, 60%);
	--error-color-100: hsl(1deg, 50%, 25%);
	--error-color-200: hsl(0deg, 80%, 90%);
	--background-color: var(--light-color-100);
	--text-color-primary: var(--dark-color-100);
	--text-color-secondary: var(--secondary-color-100);
	--font-size-title-1: clamp(48px, 0.7vw + 46.4px, 60px);
	--font-size-title-2: clamp(36px, 0.7vw + 33.6px, 48px);
	--font-size-title-3: clamp(28px, 0.5vw + 27.2px, 36px);
	--font-size-title-4: clamp(24px, 0.2vw + 24px, 28px);
	--font-size-title-5: clamp(20px, 0.2vw + 19.2px, 24px);
	--font-size-title-6: clamp(18px, 0.1vw + 17.6px, 20px);
	--transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-time: 0.2s
}

@supports not (font-size: clamp(1px, 1vw, 10px)) {
	@media (min-width:768px) {
		:root {
			--font-size-title-1: 52px;
			--font-size-title-2: 40px;
			--font-size-title-3: 32px;
			--font-size-title-4: 24px;
			--font-size-title-5: 21px;
		}
	}

	@media (min-width:992px) {
		:root {
			--font-size-title-1: 56px;
			--font-size-title-2: 44px;
			--font-size-title-3: 36px;
			--font-size-title-4: 28px;
			--font-size-title-5: 23px;
		}
	}

	@media(min-width:1200px) {
		:root {
			--font-size-title-1: 60px;
			--font-size-title-2: 48px;
			--font-size-title-3: 40px;
			--font-size-title-4: 32px;
			--font-size-title-5: 24px;
			--font-size-title-6: 20px;
		}
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	overflow-wrap: break-word;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}